#calendar
  %h2#month
    =link_to "<", month: (@date.beginning_of_month-1).strftime("%Y-%m")
    =h l @date, format: :calendar_month
    =link_to ">", month: (@date.end_of_month+1).strftime("%Y-%m")
  =calendar_for @purchases, year: @date.year, month: @date.month do |calendar|
    =calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')
    -calendar.day(day_method: :date) do |date, purchases|
      = date.day
      %ul
        %li= link_to sum_price(purchases), purchases_by_date_path(date)
